<section class="contact-sec">
  <div class="grid-container">
    <div class="grid-item">
      <h2>Contact Us</h2>
      <br /><br />
      <img src="/images/envelope.png" alt="Contact Envelope" />
      <br /><br /><br /><br />
      <h3 class="bold">E-Mail : happinessvalley5@gmail.com</h3>
      <br />
      <h3 class="bold">Phone : +91 - 8877665544</h3>
    </div>
    <div class="grid-item">
      <form action="/enquirey-form" method="post">
        <input name="name" type="text" placeholder="Name" required />
        <br /><br />
        <input name="email" type="email" placeholder="E - Mail" required />
        <br /><br />
        <input name="phone" type="number" placeholder="Phone" required />
        <br /><br />
        <textarea name="message" placeholder="Message" rows="10"></textarea>
        <br /><br />
        <input class="form-button bold" type="submit" value="Let's Connect" />
      </form>
    </div>
  </div>
</section>