<footer>
  <div class="grid-container">
    <div class="grid-item">
      <p>Copyright © 2022 | Happiness Valley</p>
    </div>
    <div class="grid-item">
      <a href="https://bit.ly/3ogL96j"><i class="fab fa-facebook-f"></i></a>
      <a href="https://bit.ly/3AMkYtj"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>