<header>
  <div class="logo">
    <a href="/">
      <img src="/images/logoRound.png" alt="Happiness Valley Logo" />
    </a>
  </div>
  <nav class="navigation-menu">
    <menu>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/testimonials">Testimonials</a>
      <a href="/coaches">Coaches</a>
      <a href="/about">About Us</a>
      <a href="/contact">Contact</a>
    </menu>
  </nav>
</header>