{{#each testimonial}}

  <div class="swiper-slide">
    <video controls>
      <source src={{video}} type="video/mp4" />
    </video>
    <br /><br />
    <p><i class="fas fa-arrow-alt-circle-left"></i> Swipe</p>
  </div>

{{/each}}