{{#each testimonial}}

<div class="swiper-slide">
    <video controls>
        <source src={{video}} type="video/mp4" />
      </video>
      <br><br>
      <p>Swipe <i class="fas fa-arrow-alt-circle-right"></i></p>
</div>

{{/each}}