{{> hero}}

<section class="quote">
  <img src="/images/quote.png" alt="Quote" />
  <br /><br /><br />
  <h2 class="bold">Look at what you have in life.
    <br />
    There Is Always Much To Be Greatful For.</h2>
</section>

<section class="image">
  <img src="/images/meditation.png" alt="Meditation Image" />
</section>

<section class="mission">
  <h2 class="bold">The mission of Happiness Valley is to inspire people to be
    happy, positive and optimistic in their thoughts, words and actions, to lead
    a happy and fulfilling life.</h2>
</section>

<hr />

<section class="founder">
  <h2>About the Founder</h2>
  <br /><br /><br /><br />
  <div class="grid-container">
    <div class="grid-item founder-image">
      <img src="/images/founder.png" alt="Founder" />
    </div>
    <div class="grid-item founder-info">
      <div>
        <h3>Roli Jain</h3>
        <h4>Founder of Happiness Valley</h4>
        <br /><br />
        <p>Hi Friends !!! I am Roli Jain. I am Psychological Counselor and a
          life coach. I have given workshops on Parenting and Leadership in
          schools. I have opened up Happiness Valley, a counseling center. I
          want to Empower people to come out of darkness of negativity,
          self-doubt and rejection and lead a happy and blissful life.</p>
        <br />
        <p>Happiness Valley is an effort to bring out people from the darkness
          of negativity, pessimism, depression, anxiety, fear, self-doubt and
          self-defeating behaviors into the sunlight of positivity, joy,
          optimism, love, confidence and personal growth so that all can lead a
          happy, fulfilled and purposeful life.</p>
      </div>
    </div>
  </div>
</section>