{{> hero}}

<section class="quote">
  <img src="/images/quote.png" alt="Quote" />
  <br /><br /><br />
  <h2 class="bold">Look at what you have in life.
    <br />
    There Is Always Much To Be Greatful For.</h2>
</section>

<section class="image">
  <img src="/images/meditation.png" alt="Meditation Image" />
</section>

<section class="mission">
  <h2 class="bold">The mission of Happiness Valley is to inspire people to be
    happy, positive and optimistic in their thoughts, words and actions, to lead
    a happy and fulfilling life.</h2>
</section>

<hr />

<section class="founder">
  <h2>About the Founder</h2>
  <br /><br /><br /><br />
  <div class="grid-container">
    <div class="grid-item founder-image">
      <img src="/images/founder.png" alt="Founder" />
    </div>
    <div class="grid-item founder-info">
      <div>
        <h3>Roli Jain</h3>
        <h4>Founder of Happiness Valley</h4>
        <br /><br />
        <p>Roli Jain is a Life Coach, Psychological Counselor, Reiki Master,
          Theraputic Energy healer and Ex Principal. She is the founder of
          Happiness Valley Platform through which she gives her Online work
          shops and counselling Sessions.</p>
        <br />
        <p>She has given many workshops on Parenting, leadership, Vision Beard
          and Healing qualities of water. She has been awarded with the
          prestigious 'Vivekanad Changemaker Award' by Mentrox. Presently her
          focus is on spreading an awareness amongst people that water which is
          so powerful has the potential to heal our lives. Let's respect it.</p>
        <br /><br />
        <a href="/founder">
          <button class="pri-button">More</button>
        </a>
      </div>
    </div>
  </div>
</section>