<section class="founder-sec">
  <div class="grid-container">
    <div class="grid-item">
      <img src="/images/save.png" alt="Founder" />
    </div>
    <div class="grid-item">
      <h2>About Roli Jain</h2>
      <br /><br />
      <p>Roli Jain is a Life Coach, Psychological Counselor, Reiki Master,
        Therapeutic Energy healer and Ex Principal. She is the founder of
        Happiness Valley Platform through which she gives her Online work shops
        and counselling Sessions.</p>
      <br /><br />
      <p>She has given many workshops on Parenting, leadership, Vision Beard and
        Healing qualities of water. She has been awarded with the prestigious
        'Vivekanad Changemaker Award' by Mentrox. Presently her focus is on
        spreading an awareness amongst people that water which is so powerful
        has the potential to heal our lives. Let's respect it.</p>
      <br /><br />
      <p>On her journey of life she kept focussing on spreading happiness and
        learned about many Alternative Healing Modalities and got in touch with
        many coaches so every wednesday he hosts a special session on Happiness
        Valley Platform where she introduces New & Alternative Healing
        Modalities to her Happiness Valley Community like Reiki, Water
        Meditation, Hypnotherapy, EFT, Sound Healing, Switch Words, Huna
        Techniques and much more.</p>
    </div>
  </div>
</section>