<section class="hero-sec">
    <div>
        <h1>Happiness Valley</h1>
        <hr>
        <h2>Koshish Ek Khushal Zindagi Ki</h2>
    </div>
</section>

<section class="courses-sec">
    <h2>Featured Courses</h2>
    <br><br><br>
    <div class="grid-container courses-grid">
        {{> home/courses}}
    </div>
</section>

<hr>

<section class="about-sec">
    <div class="grid-container">
        <div class="grid-item">
            <h2>About Us</h2>
            <br>
            <p>Happiness Valley is based on the idea that people want to be happy and that happiness is a good thing. The goal of positive psychology is to help people find ways to be happier and to increase well-being in their lives. <br><br> Happiness Valley is based on scientific research, and there is a lot of evidence that supports the ideas of positive psychology. For example, research has shown that people who are happier are healthier and live longer than people who are not happy.</p>
            <br><br>
            <a href="#"><button class="pri-button">
                Know More
            </button></a>
        </div>
        <div class="grid-item">
            <video controls>
                <source src="/videos/sampleVideo.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<hr>

<section class="coaches-sec">
    <h2>Our Coaches</h2>
    <br><br><br>
    <div class="grid-container">

        {{> home/coaches}}
        
    </div>
</section>

<hr>

{{> contactForm}}