<section class="workshops-sec">
  <h2>Our Previous Workshops</h2>
  <br /><br /><br /><br />
  <div class="grid-container">
    <div class="grid-item"><h3>Healing Qualities of Water
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Gratitude Workshop &nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Goal Setting Workshop&nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Vision Board Workshop&nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Inner Child Healing
        Workshop&nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Happy Me 31 Days Workshop&nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
    <div class="grid-item"><h3>Mudra Healing Workshop&nbsp;&nbsp;&nbsp;&nbsp;
        <span><i class="fa-solid fa-circle-check"></span></i></h3></div>
  </div>
  <br /><br /><br /><br />
  <h2>Upcoming Workshops</h2>
  <br /><br /><br /><br />
  <div class="grid-container">
    <div class="grid-item"><h3>Self Discovery Workshop</h3></div>
    <div class="grid-item"><h3>Reiki Course</h3></div>
    <div class="grid-item"><h3>Financial Abundance Workshop</h3></div>
    <div class="grid-item"><h3>Heal Your Life Through Forgiveness</h3></div>
  </div>
</section>