/* Coaches Section */

.coaches-sec {
    width: 90%;
    margin: 10vh auto;
}

.coaches-sec img {
    border-radius: 25px;
    width: 50%;
    transition: 0.5s;
}

.coaches-sec img:hover {
    transform: rotate(5deg);
}

.coaches-sec .image {
    text-align: center;
}

.coaches-sec .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coaches-sec h2 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
}

.coaches-sec h3 {
    font-family: var(--text-font);
    font-size: 1.5rem;
}

.coaches-sec ul li {
    font-family: var(--text-font);
    font-size: 1.25rem;
}