/* Contact Section */

.contact-sec {
  width: 90%;
  margin: 15vh auto;
  text-align: center;
}

.contact-sec h2 {
  font-family: var(--heading-font);
  font-size: 5rem;
}

.contact-sec h3 {
  font-family: var(--text-font);
  font-size: 1rem;
}

.contact-sec img {
  width: 25%;
  opacity: 0.5;
}

.contact-sec form input,
.contact-sec form textarea {
  font-family: var(--text-font);
  padding: 10px 20px;
  border: 2px solid var(--base-color);
  border-radius: 20px;
  width: 60%;
}

.contact-sec form input:focus,
.contact-sec form textarea:focus {
  outline: inherit;
}

.form-button {
  background-color: var(--base-color);
  color: var(--font-color);
  transition: 0.5s;
}

.form-button:hover {
  background: transparent;
  color: black;
}
