/* Courses Section */

.courses-sec {
  width: 90%;
  margin: 15vh auto;
  text-align: center;
}

.courses-sec h3 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.courses-sec p {
  font-family: var(--text-font);
  font-size: 1rem;
}

.courses-sec img {
  width: 50%;
}

.courses-grid {
  grid-template-columns: auto auto auto auto;
}

.courses-grid .grid-item {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.5s;
}

.courses-grid .grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.5) 0px 15px 12px;
}

/* Mobile View */

@media only screen and (max-width: 500px) {
  .courses-sec .grid-container {
    grid-template-columns: auto auto;
  }

  .courses-sec p {
    display: none;
  }
}
