/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--base-color);
}

.logo,
nav {
  display: inline-block;
}

nav {
  width: 50%;
}

nav menu {
  display: flex;
  justify-content: space-around;
}

menu a {
  font-family: var(--text-font);
  font-size: 1rem;
}

.logo {
  margin-left: 25px;
}

.logo img {
  width: 50px;
  border-radius: 100%;
  border: 2px solid var(--base-color);
}

/* Footer */

footer {
  background-color: lightgray;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-family: var(--text-font);
  font-size: 1.25rem;
}

footer a {
  margin: 0 20px;
  font-size: 1.5rem;
}
