/* Open Sans Font Below */
@import url("https://bit.ly/3ffwpQ4");

/* Mollie Glaston Font Below */
@import url("../fonts/downloadedFonts.css");

@import url("scrollbar.css");
@import url("partials.css");

:root {
  --heading-font: "Mollie Glaston";
  --text-font: "Open Sans";
  --base-color: rgb(233, 154, 9);
  --font-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

hr {
  border: 0;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 10px auto;
}

img,
video {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.pri-button {
  font-family: var(--text-font);
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 250px;
  background: transparent;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.75s;
  cursor: pointer;
}

.pri-button:hover {
  background-color: black;
  color: white;
}

.bold {
  font-weight: bold;
}

/* Mobile View */

@media only screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
