{{#each courses}}

  <a href={{link}}>
    <div class="grid-item">
      <img src={{image}} alt="Courses Image" />
      <br /><br />
      <h3 class="bold">{{{heading}}}</h3>
      <br />
      <p>{{content}}</p>
    </div>
  </a>

{{/each}}