{{#each courses}}

  <div class="grid-item">
    <img src={{image}} alt="Courses Image" />
    <br /><br />
    <h3 class="bold">{{{heading}}}</h3>
    <br />
    <p>{{content}}</p>
    <br /><br />
    <a href={{link}}>
      <button class="pri-button">Learn More</button>
    </a>
  </div>

{{/each}}